
    <%- include("header") -%>

    <div class="box" id="heading">
        <h1> <%= listtitle %></h1>
    </div>  
    <div class="box" id="">
    <ul>
        
        
        <% for (var i = 0; i < eingaben.length; i++) { %>
            <div class="item">
                <input type="checkbox" name="" id="">
                <p><%= eingaben[i] %></p>  
            </div>
            <% console.log (eingaben[i]);
         } %>
       

    </ul>



    <form class="item" action="/" method="post">
        <input type="text" name="eingabe" id="" placeholder="new Item" autocomplete="off">
        <button type="submit" name="list" value="<%= listtitle %>">+</button>
    </form>
</div>
<%- include("footer") -%>